nav > ul.fnb{z-index: 2;position: fixed;bottom:0; width:100%; height:56px;background: #fff;border-top: 1px solid #ddd;border-radius:16px 16px 0 0;padding:6px 10px;display: flex;justify-content:space-between;align-items: center;box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.1);}
nav > ul > li{width:24%;height: 100%;text-align: center;}
nav > ul > li>a{width: 100%;height: 100%;display: block;background-size: 22px !important;font-size: 0px;}
nav > ul > li:first-child>a{background: url(../images/ico-menu-new.svg) center no-repeat;}
nav > ul > li:nth-child(2)>a{background: url(../images/ico-menu-search.svg) center no-repeat;}
nav > ul > li:nth-child(3)>a{background: linear-gradient(140deg, #269aff, #007fe7), url(../images/ico-menu-user.svg) center no-repeat;border-radius: 100%;width:43px;margin:auto}
nav > ul > li:nth-child(4)>a{background: url(../images/ico-menu-user.svg) center no-repeat;}
nav > ul > li:nth-child(5)>a{background: url(../images/ico-bell.svg) center no-repeat;background-size: 24px;position: relative;}
nav > ul > li:nth-child(3)>a:before{content: '+';font-size:44px;margin-top: 7px;display: inline-block;color: #fff;font-weight: 200;}
nav > ul.fnb.write_menu li>a{background-size: 26px !important;}
nav > ul.fnb.write_menu li:first-child>a{background: url(../images/ico-photo.svg) center no-repeat;}
nav > ul.fnb.write_menu li:nth-child(2)>a{background: url(../images/ico-video.svg) center no-repeat;}
nav > ul.fnb.write_menu li:nth-child(3)>a{background: #fff;}
nav > ul.fnb.write_menu li:nth-child(4)>a{background: url(../images/ico-text.svg) center no-repeat;}
nav > ul.fnb.write_menu li:nth-child(4)>a.underline{background: url(../images/ico-text-U.svg) center no-repeat;}
nav > ul.fnb.write_menu li:nth-child(4)>a.list{background: url(../images/ico-text-list.svg) center no-repeat;}
nav > ul.fnb.write_menu li:nth-child(4)>a.margin{background: url(../images/ico-text-margin.svg) center no-repeat;}
nav > ul.fnb.write_menu li:nth-child(4)>a.link{background: url(../images/ico-text-link.svg) center no-repeat;}
nav > ul.fnb.write_menu li:nth-child(4)>a.devide{background: url(../images/ico-text-devide.svg) center no-repeat;}
nav > ul.fnb.write_menu li:nth-child(4)>a.bold{background: url(../images/ico-text-bold.svg) center no-repeat;}
nav > ul.fnb.write_menu li:nth-child(5)>a{background: url(../images/ico-align-left.svg) center no-repeat;}
nav > ul.fnb.write_menu li:nth-child(5)>a.center{background: url(../images/ico-align-center.svg) center no-repeat;}

nav > ul.type-content li>a{background-size: 24px!important;}
nav > ul.type-content li:first-child>a{background: url(../images/ico-heart.svg) 14px center no-repeat;background-size: 20px!important;}
nav > ul.type-content li:nth-child(2)>a{background: url(../images/ico-balloon.svg) 14px center no-repeat;background-size: 18px!important;}
nav > ul.type-content li:nth-child(3)>a{background: #fff url(../images/ico-share.svg) center no-repeat;}
nav > ul.type-content li:nth-child(4)>a{background: url(../images/ico-3dots-hor.svg) center no-repeat;}
nav > ul.type-content li:nth-child(5)>a{background: #fff url(../images/ico-scrap.svg) center no-repeat;}
nav > ul.type-content li:nth-child(3)>a:before{content: unset;}
nav > ul.type-content li>a>span{font-size: 14px;line-height: 40px;margin-left:34px;}

nav > ul.type-write{height:52px;border-radius:0px 0 0;padding:6px 10px;}
nav > ul.type-write .ico-photo{position: absolute;left: 6px;top: 0;height:40px;width:40px;background-size:26px;opacity: .6;}
nav > ul.type-write .btn-primary {width:20%; margin-left: 4px;}
.write_wrap nav > ul.type-write{bottom: 56px;z-index: 1;box-shadow:none;}
.write_wrap .hd__search{width: 100%;}
.write_wrap .hd__search input{padding:10px;background-color:#fff}


/**Main-Notice*********/
.main__notice{width: 100%; height: 44px; background: var(--primary); }
.notice__wrap{margin: 0 auto;height: 44px; padding: 0 10px 0 10px; display: flex; justify-content: space-between; align-items: center; box-sizing: border-box;}
.notice__msg{display: flex; align-items: center; justify-content: flex-start; font-size: 0.9em; color: #FFF;}
.notice__icon{display: inline-block;font-size: 12px; padding:3px 10px;border-radius:30px;border: 1px solid rgba(255, 255, 255, 0.5); background: transparanet; margin-right: 8px;}
.notice__close{width: 24px; height: 24px; background: url(../images/ico-close-white.svg) no-repeat; background-size: contain; border: 0; text-indent: -9999px;}

.recent .tab__box{padding: 0 18px;}

.hd__search{width:88%;position: relative;}
.hd__search input{width:100%;border-radius:4px;border: 0;padding:10px 40px;height: 40px;background-color: var(--line);}
.hd__search .ico-close, .hd__search .ico-search{position: absolute;right: 0;top: 0;width: 40px; height: 40px;background-size: 16px;opacity: .7;}
.hd__search .ico-search{left: 0;}
.search_wrap>.list__banner>img{padding-top:10px}
.searchList{margin-top:14px;margin-bottom:10px;}
.searchList .list__type--line>strong{font-weight: bold;width:16px;display: inline-block;}

/** board list *********/
.board__list{margin:0px 0px 0}
.list__type--line{display: block;width:100%;border-bottom: 1px solid #e7eaef;padding-bottom:10px;margin: 10px 0;}
.list__type--line>a{display: flex;justify-content: space-between;align-items: center;}
.list__type--line .list__content{width:75%;}
.list__type--line .list__photo{width: 23%;}
.list__type--line .list__photo>img{max-height: 70px;}
.list__photo>img{width: 100%;border-radius: var(--border-radius);}
.list__content>h4{color:var(--grayText)}
.list__content>h3{line-height: 24px;font-weight: bold;display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.list__content>h5{font-size: 13px;}
.list__content--info{font-size: .8em;color:var(--grayText);margin-top:4px}
.list__content--info > span:after{content: '';border-right: 1px solid var(--lightline);padding-right:6px;margin-right: 6px;}
.list__content--info > span:last-child:after{padding:0;margin:0;border:0}
.list__info--recomm {background: url(../images/ico-heart.svg) 0 center no-repeat; background-size: 16px;padding-left:20px; }
.list__info--reply {background: url(../images/ico-balloon.svg) 0 center no-repeat; background-size: 14px;padding-left:18px; }
.moreviewBtn{display: inline-block;width:100%;text-align: center;padding:0px 0 10px; }
.moreviewBtn::before{content: '';display: inline-block;width:20px;height: 20px; background: url(../images/ico-plus.svg) 0 bottom no-repeat;opacity: .6; background-size: 13px;}
.list__banner>img{width:100%;background-size: contain; padding:30px 0px;border-radius: var(--border-radius);}
.list__tab__wrap {background: #fff;width: 100%;margin: 8px 0 20px;border-bottom: 1px solid var(--lightline);overflow-x: auto; -ms-overflow-style: none;scrollbar-width: none;}
.list__tab__wrap::-webkit-scrollbar {display: none;}
.list__tab {width: max-content;height: 35px;}
.list__tab>li {float: left;display: inline-block;margin: 0 18px 0px 0;padding: 0 2px;line-height: 32px;color: var(--grayText);}
.list__tab>li:first-child {margin-left: 18px;}
li.current {border-bottom:3px solid var(--primary);color: #333;font-weight: bold;}

.tab__box {display: none;width: 100%;box-sizing: border-box;}
.board__list.notice .list__content--info {margin: 2px 0 6px;font-size: .9em;}

.reply_view .list__content--info{position: relative;margin-bottom: 14px;}
.reply_view .list__content--info .list__info--writer{color:#333; font-size: 14px;font-weight: bold;padding-right: 10px;}
.reply_view .list__content--info > span:after{content: unset;}
.reply-option{display: flex;justify-content: space-between; margin-top: 10px;font-size: 12px;line-height: 24px;}
.myReply{padding:10px 10px 10px 20px;background-color: var(--line);}
.myReply .ico-reply{width:20px;height: 13px;display: inline-block;}
.user_profile {background: var(--line);padding: 6px 20px 20px;margin-bottom: 20px;}
.user_profile .user-id {text-align: center;background: url(../images/illu-people.svg) center top no-repeat;background-size: 90px;width: 100%;height: 130px;padding-top: 80px;}
.user_profile .user-id>h2{font-size: 18px; font-weight: bold; color: var(--primary);}
.user_profile .user-info {text-align: center;background: #fff;padding:14px 20px; border-radius: 8px; box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);}
.user_profile .user-info .level{font-size: 16px; color:rgba(255, 255, 255, 0.6); background-color: var(--primary);border-radius: 4px;padding:8px; margin-bottom: 10px;}
.user_profile .user-info .level>span{font-size: 16px;color: #fff; font-weight: bold;padding-left:6px;}
.user_profile .user-info dl{display: flex;justify-content: space-between;padding:2px 6px}
.user_profile .user-info dl dt{font-size: 12px;color: var(--grayText);}
.user_profile .user-info .introduce{color:var(--primary);text-align: left;font-size: 12px; border-top: 1px solid var(--lightline);padding-top: 10px;margin-top: 10px;}

.thumb__photo {display: block !important;padding: 0px;margin:10px 0; border:1px solid var(--lightline);border-radius:6px;overflow: hidden;}
.thumb__photo img {display: block;width: 100%;max-height:180px;object-fit: cover;}
.thumb__photo p{margin: 14px;font-size:13px;height:60px;word-wrap: break-word;text-overflow: ellipsis;overflow: hidden;display: -webkit-box; -webkit-line-clamp:3;-webkit-box-orient:vertical;}
.thumb__photo.noimg {border:0;}
.thumb__photo.noimg p {margin: 6px 0 0;}
.board__list.thumb .list__type--line{position: relative;}
.board__list.thumb .list__content{position: relative;width:100%}
.moreBtn{position: absolute;right: 0;bottom:-4px;background: url(../images/ico-3dots.svg) right center no-repeat;background-size: 16px;width:30px;height: 24px;text-indent: -99999px;}
#more-BTN-Layer {position: absolute;right: 0;margin-top: 10px;padding:0px;background:#fff;border:1px solid var(--lightline);border-radius: 6px;}
#more-BTN-Layer a {display: block;padding:8px 18px;border-bottom: 1px solid var(--line);}
.editBtn{background: url(../images/ico-edit.svg) left center no-repeat;background-size: 16px;height: 24px;padding-left: 20px;;}

.contentList__wrap-gallery{margin-top:10px}
.contentList__wrap-gallery .category{position: relative;margin-right: 18px;}
.gallery__list{margin-top:10px;display: flex;justify-content: flex-start;flex-flow: row wrap;}
.gallery__list li{flex: 0 1 33.3%;padding:0px 2px}
.gallery__list li img{width:100%;object-fit: cover;border-radius: 4px;}
.categoryBtn{position: absolute;right: 0px;top:0px;z-index: 2; border:1px solid #ddd;background:#fff url(../images/ico-arrow-down.svg) center no-repeat;border-radius: 4px; background-size: 12px;width:30px;height:28px;text-indent: -99999px;}
#category-Layer {position: absolute; top: -4px;left: 12px;z-index: 1;width:98%;margin:auto; padding:10px 14px 10px; background:#fff;border:1px solid var(--lightline);border-radius: 4px;}
#category-Layer dl{display: block;font-size: 12px;padding:3px 0}
#category-Layer dt {display: inline-block;width:30px;color: var(--grayText);}
#category-Layer dd {display: inline-block;}
#category-Layer dd a {margin: 0 4px;}
#category-Layer dd a>span {color:var(--red)}

.content_view_text img{width:100%;object-fit: cover;border-radius: 2px;margin:10px auto}
.content_view .list__content>h3{white-space: unset;}
.hashtag li{font-size: 12px; color:var(--grayText); display: inline-block; background: var(--line);border-radius: 20px;padding:1px 8px;margin:4px 2px;}

.content_next_wrap {position: relative;background-color: #fafafa;}
.content_next_wrap > a {display:inline-block; padding:10px 16px;width:50%;}
.content_next_wrap .pre_view,
.content_next_wrap .next_view {font-size:12px;color: var(--grayText);}
.content_next_wrap >a:last-child {float:right; background-color: var(--line);text-align: right;}
.content_next_wrap a div[class*="ico-arrow-"]{background-size: 7px;opacity: .5;padding-left: 16px;}
.content_next_wrap .next_view.ico-arrow-right{background-position-x: right;padding-right: 16px;}
.content_next_wrap > a .list__content>ㅗ3{font-size: 13px;}
.content_next_wrap > a .list__content>span{font-size: 12px;opacity: .7;}

.bbsTitle{position: relative; padding:6px 20px 10px;border-bottom: 1px solid #ddd;}
.bbsTitle>.titTypeA{font-size: 20px;}
.bbsTitle>.titTypeA::after{content: '';display: inline-block;width:20px;height: 20px;margin-left: 10px; vertical-align: middle;transform: rotate( -90deg ); background: url(../images/ico-arrow-left.svg) center no-repeat;opacity: .4; background-size: 7px;}
.bbsTitle>button{position:absolute;right: 10px;top: 0;width: 30px; height: 30px;background-size: 18px;opacity:;}
.bbsTitle>button.ico-favo{right: 90px;background-size: 22px;}
.bbsTitle>button.ico-info{right: 50px;background-size: 24px;}
.bbsTitle button.accordion:after,
.bbsTitle button.accordion.active:after{background: none;}
.bbsTitle .panel{padding:8px 0 0}
.bbsTitle .hd__search{width: 100%;}

/* main swiper */
.main_event {width: 100%;margin: 10px 0;}
.main_event .swiper-slide {background-position: center;background-size: cover;width: 300px;height: 200px;}
.main_event .swiper-slide img {display: block;border-radius: 10px;width: 100%;height:100%;}
.favo_slide {width: 100%;height: 100%;padding: 0 20px !important;}
.favo_slide .swiper-slide {text-align: center;padding: 0px;}
.favo_slide .fovo_slide-photo>span{font-size:13px;color:#fff;margin-top: -48px;display: flex;justify-content: center;align-items: flex-start;height: 58px;}
.favo_slide .swiper-slide img {display: block;width: 100%;height: 100%;object-fit: cover;border-radius: 100%;}

.main_favo_box{background-color: #EFF4F8;padding:28px 0px;}
.main_favo_box>h2{margin:0 20px;font-size: 22px;line-height:26px;font-weight: bold;}
.main_favo_box h3{margin:16px 20px 20px;font-size: 14px;font-weight: bold;display: flex;justify-content: space-between;align-items: center;}
.main_favo_box h3>a{font-size: 12px;color:var(--grayText);}
.main_favo_box h3>a:before{content: '';background: url(../images/ico-setting.svg) left center no-repeat;background-size: 18px;opacity: .5;margin-right:4px;width: 20px;height: 20px;display: inline-block;vertical-align: middle;}

.contentList_slide{width: 100%;height: 100%;padding:10px 20px 0 !important;}
.contentList_slide .swiper-slide {padding: 0px;border:1px solid var(--lightline);border-radius:6px;overflow: hidden;}
.contentList_slide .swiper-slide img {display: block;width: 100%;max-height:180px;object-fit: cover;}
.contentList_slide .list__content{padding:10px 16px}
.list__tab__wrap.btnType{border:0;margin-bottom: 10px;}
.btnType .list__tab>li{font-size: 12px;line-height: 26px;border-radius: 4px; border:1px solid var(--lightline);padding: 0px 6px;margin-right:6px}
.btnType .list__tab>li.current{border:0;background:var(--primary);color: #fff;}
.listType_btn{border:1px solid var(--lightline);border-radius: 3px; padding:4px;width:34px;height:30px;opacity:.5}
.listType_btn.ico-list{background-size: 22px;}
.listType_btn.ico-thumb{background-size: 22px;}
.listType_btn.ico-gallery{background-size: 18px;}
.listType_btn.selected{opacity:1}
.reply_box .accordion{background:var(--line);border-radius: 4px; padding:4px 10px;font-size: 12px;}
.reply_box  button.accordion:after{float: unset;}
.reply_box .panel{background: var(--line);border-radius: 6px;padding:0 14px;margin-top: -6px;}
.reply_box .list__content>h4 .ico-reply{padding-right: 20px;width:20px;height: 20px; background-size:16px;}
.reply_box .list__type--line{border-bottom:0}
.reply_box .list__type--line>a{margin-top: 10px;}


/**메뉴 화면 **/
.menu__box{margin-top: 30px;}
.menu--title{border-bottom: 1px solid var(--line);font-weight: 500;padding: 12px 0;}
.menu--title>a{display: flex;justify-content: space-between;align-items: center;}
.menu--title>a>strong{width:28%;}
.menu--title>a>span{width:65%;font-size:12px;color: var(--borderLine);font-weight: 400;}
.menu--sub{display: block; width:100%;padding:4px 10px 10px;font-size:13px;color: var(--grayText);font-weight: 400;}
.menu--sub:before{content: '';border-radius: 100%;background:#ddd;width:3px;height:3px;display: inline-block; vertical-align: middle; margin-right: 8px;}
.menu__box>.titTypeA{margin:10px 0 8px}
.switch-active .menu--title{border:0}
.menu__box.container .menu--sub:before{content: none;}
.menu_favo{margin-top: -20px;padding:20px 0;background-color: #EFF4F8;}
.menu_favo .favo_slide{margin:20px 0 10px;}
.favo_add {display: block;width: 100%;height: 83px;border-radius: 100%;background: #fff;border:1px solid #ddd}
.favo_add:before {content: '';display: block;width:30px;height: 30px; margin:24px auto; background: url(../images/ico-plus-one.svg) center no-repeat;background-size: 26px;}